@use '../abstracts/index' as *; //! Import variables and mixins from the 'index' file in the 'abstracts' directory.

// Navbar Start
#nav {
  background-color: $primary-color;
  a {
    color: #fff;
  }

  .header-top-side {
    display: flex;
    align-items: center;
    a {
      font-size: 18px;
    }

    .left-side-navbar {
      display: flex;
      align-items: center;

      .navbar-items {
        display: flex;
        align-items: center;

        .navbar-item {
          padding: 25px 15px;
          cursor: pointer;
          position: relative;
          &:hover .navbar-link {
            color: $secondary-color;
            transition: all 0.3s;
          }

          .navbar-link::before {
            content: '';
            position: absolute;
            height: 3px;
            width: 0%;
            top: 95%;
            left: 0;
            background-color: $secondary-color;
            transition: all 0.3s ease;
          }

          &:hover .navbar-link::before {
            width: 100%;
            transition: all 0.3s ease;
          }

          &:hover .dropdown {
            opacity: 1;
            transition: all 0.7s;
            transform: translateY(-20px);
          }
        }

        .dropdown {
          padding: 20px 108px 20px 11px;
          position: absolute;
          background-color: #fff;
          color: #192839;
          top: 90px;
          left: 6px;
          z-index: 1;
          opacity: 0;
          transform: translateY(0px);
          transition: all 0.7s;
          .item-dropdown {
            padding-bottom: 4px;
            a {
              color: #192839;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }

    .right-side-navbar {
      span {
        color: $white-color;
        border-bottom: 1px dashed #fff;
        padding-bottom: 5px;
      }
    }
  }
}
// Navbar End
