.section-title {
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-title h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
.section-title p {
  color: #656565;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 50px;
}

.section-space {
  padding: 100px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.custom-btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #00aeff;
  transition: all 0.6s;
  font-size: 18px;
  color: #fff;
}
.custom-btn.outline {
  border: 1px solid #00aeff;
}
.custom-btn.outline:hover {
  background: transparent;
  transition: all 0.2s;
}
.custom-btn.dark {
  border: 0;
  background-color: #004274;
  border-radius: 5px;
  padding: 10px 5px;
}
.custom-btn.animation {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.custom-btn.animation:hover::before {
  transform: scaleX(1);
  z-index: -1;
}
.custom-btn.animation:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #004274;
  z-index: -1;
  border-radius: 0px;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.header-bottom-side {
  background-color: #fff;
  padding: 15px 0;
}
.header-bottom-side .search-form .search-input {
  position: relative;
}
.header-bottom-side .search-form .search-input input {
  width: 100%;
  height: 50px;
  padding: 9px 18px 9px 48px;
  color: #5e5e5e;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #beccd6;
  border-radius: 4px;
}
.header-bottom-side .search-form .search-input input:focus {
  outline: 0;
}
.header-bottom-side .search-form .search-input .search-icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}

#nav {
  background-color: #004274;
  padding: 10px 0;
}
#nav a {
  color: #fff;
}
#nav .header-top-side {
  display: flex;
  align-items: center;
}
#nav .header-top-side a {
  font-size: 18px;
}
#nav .header-top-side .left-side-navbar {
  display: flex;
  align-items: center;
}
#nav .header-top-side .left-side-navbar .navbar-items {
  display: flex;
  align-items: center;
}
#nav .header-top-side .left-side-navbar .navbar-items li {
  padding: 17px 15px;
  cursor: pointer;
  position: relative;
}
#nav .header-top-side .left-side-navbar .navbar-items li:hover a {
  color: #00aeff;
  transition: all 0.3s;
}
#nav .header-top-side .left-side-navbar .navbar-items li a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  top: 111%;
  left: 0;
  background-color: #00aeff;
  transition: all 0.3s ease;
}
#nav .header-top-side .left-side-navbar .navbar-items li:hover a::before {
  width: 100%;
  transition: all 0.3s ease;
}
#nav .header-top-side .right-side-navbar span {
  color: #fff;
  border-bottom: 1px dashed #fff;
  padding-bottom: 5px;
}

#hero {
  background-image: url(https://preview.colorlib.com/theme/konato/assets/img/hero/h1_hero1.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 580px;
  height: 100%;
  position: relative;
}
#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 39, 59, 0.4);
  z-index: 0;
}
#hero .hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 580px;
  position: relative;
  z-index: 1;
  color: #fff;
}
#hero .hero-content h1 {
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1.5;
}
#hero .hero-content p {
  font-size: 1.2rem;
  width: 62%;
}
#hero .hero-content .price {
  font-size: 2.5rem;
}

#latets .card-custom .card-img {
  overflow: hidden;
}
#latets .card-custom img {
  transition: all 0.5s;
  object-fit: cover;
  width: 100%;
}
#latets .card-custom:hover img {
  transition: all 0.5s;
  transform: scale(1.1);
}
#latets .card-custom .card-content {
  border: 1px solid #beccd6;
  padding: 30px 20px 15px 20px;
}
#latets .card-custom .card-content span {
  color: #00aeff;
}
#latets .card-custom .card-content a {
  font-size: 1.2rem;
  color: #000;
}
#latets .card-custom .card-content p {
  color: #5e5e5e;
  line-height: 1.6;
}
#latets .card-custom .card-info {
  border: 1px solid #beccd6;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}
#latets .card-custom .card-info .bedroom-info span {
  color: #192839;
  font-size: 15px;
}

#help-people {
  background-image: url(https://preview.colorlib.com/theme/konato/assets/img/gallery/section-bg1.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#help-people .section-title h2 {
  color: #fff;
  font-size: 2.4rem;
}
#help-people .property-box {
  text-align: center;
  background-color: #00a0eb;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px 30px 39px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#help-people .property-box a {
  color: #fff;
}
#help-people .property-box p {
  color: #fff;
  width: 80%;
  text-align: center;
}
#help-people .property-box .box-icon {
  font-size: 3rem;
}

@media (min-width: 0px) and (max-width: 576px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */